<p id="notice"><%= notice %></p>

<p>
  <b>Os:</b>
  <%= @shop_ose.os_id %>
</p>

<p>
  <b>Os cd:</b>
  <%= @shop_ose.os_cd %>
</p>

<p>
  <b>Os name:</b>
  <%= @shop_ose.os_name %>
</p>

<p>
  <b>Os create from:</b>
  <%= @shop_ose.os_create_from %>
</p>

<p>
  <b>Os create date:</b>
  <%= @shop_ose.os_create_date %>
</p>

<p>
  <b>Os create by:</b>
  <%= @shop_ose.os_create_by %>
</p>


<%= link_to 'Edit', edit_shop_ose_path(@shop_ose) %> |
<%= link_to 'Back', shop_oses_path %>
