<p id="notice"><%= notice %></p>

<p>
  <b>Sh shop:</b>
  <%= @shop.sh_shop_id %>
</p>

<p>
  <b>Sh shop cd:</b>
  <%= @shop.sh_shop_cd %>
</p>

<p>
  <b>Sh name:</b>
  <%= @shop.sh_name %>
</p>

<p>
  <b>Sh panchayat:</b>
  <%= @shop.sh_panchayat_id %>
</p>

<p>
  <b>Sh place:</b>
  <%= @shop.sh_place_id %>
</p>

<p>
  <b>Sh dist:</b>
  <%= @shop.sh_dist_id %>
</p>

<p>
  <b>Sh addr 1:</b>
  <%= @shop.sh_addr_1 %>
</p>

<p>
  <b>Sh addr 2:</b>
  <%= @shop.sh_addr_2 %>
</p>

<p>
  <b>Sh addr 3:</b>
  <%= @shop.sh_addr_3 %>
</p>

<p>
  <b>Sh addr 4:</b>
  <%= @shop.sh_addr_4 %>
</p>

<p>
  <b>Sh phone 1:</b>
  <%= @shop.sh_phone_1 %>
</p>

<p>
  <b>Sh phone 2:</b>
  <%= @shop.sh_phone_2 %>
</p>

<p>
  <b>Sh mobile:</b>
  <%= @shop.sh_mobile %>
</p>

<p>
  <b>Sh email 1:</b>
  <%= @shop.sh_email_1 %>
</p>

<p>
  <b>Sh email 2:</b>
  <%= @shop.sh_email_2 %>
</p>

<p>
  <b>Sh fax no:</b>
  <%= @shop.sh_fax_no %>
</p>

<p>
  <b>Sh branded flg:</b>
  <%= @shop.sh_branded_flg %>
</p>

<p>
  <b>Sh touch ph sale:</b>
  <%= @shop.sh_touch_ph_sale %>
</p>

<p>
  <b>Sh reg no:</b>
  <%= @shop.sh_reg_no %>
</p>

<p>
  <b>Sh establish yr:</b>
  <%= @shop.sh_establish_yr %>
</p>

<p>
  <b>Sh remarks:</b>
  <%= @shop.sh_remarks %>
</p>

<p>
  <b>Sh long:</b>
  <%= @shop.sh_long %>
</p>

<p>
  <b>Sh lat:</b>
  <%= @shop.sh_lat %>
</p>

<p>
  <b>Sh create from:</b>
  <%= @shop.sh_create_from %>
</p>

<p>
  <b>Sh create date:</b>
  <%= @shop.sh_create_date %>
</p>

<p>
  <b>Sh create by:</b>
  <%= @shop.sh_create_by %>
</p>

<p>
  <b>Sh modify date:</b>
  <%= @shop.sh_modify_date %>
</p>

<p>
  <b>Sh modify by:</b>
  <%= @shop.sh_modify_by %>
</p>

<p>
  <b>Sh del by:</b>
  <%= @shop.sh_del_by %>
</p>

<p>
  <b>Sh del date:</b>
  <%= @shop.sh_del_date %>
</p>

<p>
  <b>Sh del flg:</b>
  <%= @shop.sh_del_flg %>
</p>


<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
