<p id="notice"><%= notice %></p>

<p>
  <b>Ac actvty:</b>
  <%= @shop_activity_code.ac_actvty_id %>
</p>

<p>
  <b>Ac actvty cd:</b>
  <%= @shop_activity_code.ac_actvty_cd %>
</p>

<p>
  <b>Ac desc:</b>
  <%= @shop_activity_code.ac_desc %>
</p>

<p>
  <b>Ac create from:</b>
  <%= @shop_activity_code.ac_create_from %>
</p>

<p>
  <b>Ac create date:</b>
  <%= @shop_activity_code.ac_create_date %>
</p>

<p>
  <b>Ac create by:</b>
  <%= @shop_activity_code.ac_create_by %>
</p>


<%= link_to 'Edit', edit_shop_activity_code_path(@shop_activity_code) %> |
<%= link_to 'Back', shop_activity_codes_path %>
