<p id="notice"><%= notice %></p>

<p>
  <b>So sole:</b>
  <%= @sole_contact.so_sole_id %>
</p>

<p>
  <b>So sole cd:</b>
  <%= @sole_contact.so_sole_cd %>
</p>

<p>
  <b>So shop:</b>
  <%= @sole_contact.so_shop_id %>
</p>

<p>
  <b>So type:</b>
  <%= @sole_contact.so_type %>
</p>

<p>
  <b>So first name:</b>
  <%= @sole_contact.so_first_name %>
</p>

<p>
  <b>So nick name:</b>
  <%= @sole_contact.so_nick_name %>
</p>

<p>
  <b>So name in:</b>
  <%= @sole_contact.so_name_in_id %>
</p>

<p>
  <b>So name in bank ac:</b>
  <%= @sole_contact.so_name_in_bank_ac %>
</p>

<p>
  <b>So father name:</b>
  <%= @sole_contact.so_father_name %>
</p>

<p>
  <b>So family name:</b>
  <%= @sole_contact.so_family_name %>
</p>

<p>
  <b>So mobile:</b>
  <%= @sole_contact.so_mobile %>
</p>

<p>
  <b>So email:</b>
  <%= @sole_contact.so_email_id %>
</p>

<p>
  <b>So photo:</b>
  <%= @sole_contact.so_photo_id %>
</p>

<p>
  <b>So photo name:</b>
  <%= @sole_contact.so_photo_name %>
</p>

<p>
  <b>So pro flg:</b>
  <%= @sole_contact.so_pro_flg %>
</p>

<p>
  <b>So bank name cd:</b>
  <%= @sole_contact.so_bank_name_cd %>
</p>

<p>
  <b>So id type:</b>
  <%= @sole_contact.so_id_type %>
</p>

<p>
  <b>So create from:</b>
  <%= @sole_contact.so_create_from %>
</p>

<p>
  <b>So create date:</b>
  <%= @sole_contact.so_create_date %>
</p>

<p>
  <b>So create by:</b>
  <%= @sole_contact.so_create_by %>
</p>

<p>
  <b>So modify date:</b>
  <%= @sole_contact.so_modify_date %>
</p>

<p>
  <b>So modify by:</b>
  <%= @sole_contact.so_modify_by %>
</p>

<p>
  <b>So del by:</b>
  <%= @sole_contact.so_del_by %>
</p>

<p>
  <b>So del date:</b>
  <%= @sole_contact.so_del_date %>
</p>

<p>
  <b>So del flg:</b>
  <%= @sole_contact.so_del_flg %>
</p>


<%= link_to 'Edit', edit_sole_contact_path(@sole_contact) %> |
<%= link_to 'Back', sole_contacts_path %>
