<p id="notice"><%= notice %></p>

<p>
  <b>Ps pr code:</b>
  <%= @product_shop.ps_pr_code %>
</p>

<p>
  <b>Ps shop cd:</b>
  <%= @product_shop.ps_shop_cd %>
</p>

<p>
  <b>Ps create from:</b>
  <%= @product_shop.ps_create_from %>
</p>

<p>
  <b>Ps create date:</b>
  <%= @product_shop.ps_create_date %>
</p>

<p>
  <b>Ps create by:</b>
  <%= @product_shop.ps_create_by %>
</p>

<p>
  <b>Ps modify date:</b>
  <%= @product_shop.ps_modify_date %>
</p>

<p>
  <b>Ps modify by:</b>
  <%= @product_shop.ps_modify_by %>
</p>

<p>
  <b>Ps del by:</b>
  <%= @product_shop.ps_del_by %>
</p>

<p>
  <b>Ps del date:</b>
  <%= @product_shop.ps_del_date %>
</p>

<p>
  <b>Ps del flg:</b>
  <%= @product_shop.ps_del_flg %>
</p>


<%= link_to 'Edit', edit_product_shop_path(@product_shop) %> |
<%= link_to 'Back', product_shops_path %>
