<p id="notice"><%= notice %></p>

<p>
  <b>Pg group cd:</b>
  <%= @product_group.pg_group_cd %>
</p>

<p>
  <b>Pg group name:</b>
  <%= @product_group.pg_group_name %>
</p>

<p>
  <b>Pg create from:</b>
  <%= @product_group.pg_create_from %>
</p>

<p>
  <b>Pg create date:</b>
  <%= @product_group.pg_create_date %>
</p>

<p>
  <b>Pg create by:</b>
  <%= @product_group.pg_create_by %>
</p>

<p>
  <b>Pg modify date:</b>
  <%= @product_group.pg_modify_date %>
</p>

<p>
  <b>Pg modify by:</b>
  <%= @product_group.pg_modify_by %>
</p>

<p>
  <b>Pg del by:</b>
  <%= @product_group.pg_del_by %>
</p>

<p>
  <b>Pg del date:</b>
  <%= @product_group.pg_del_date %>
</p>

<p>
  <b>Pg del flg:</b>
  <%= @product_group.pg_del_flg %>
</p>


<%= link_to 'Edit', edit_product_group_path(@product_group) %> |
<%= link_to 'Back', product_groups_path %>
