<p id="notice"><%= notice %></p>

<p>
  <b>Di dist:</b>
  <%= @district.di_dist_id %>
</p>

<p>
  <b>Di dist cd:</b>
  <%= @district.di_dist_cd %>
</p>

<p>
  <b>Di name:</b>
  <%= @district.di_name %>
</p>

<p>
  <b>Di countr:</b>
  <%= @district.di_countr %>
</p>

<p>
  <b>Di create from:</b>
  <%= @district.di_create_from %>
</p>

<p>
  <b>Di create date:</b>
  <%= @district.di_create_date %>
</p>

<p>
  <b>Di create by:</b>
  <%= @district.di_create_by %>
</p>


<%= link_to 'Edit', edit_district_path(@district) %> |
<%= link_to 'Back', districts_path %>
