<p id="notice"><%= notice %></p>

<p>
  <b>Pr pro:</b>
  <%= @pro.pr_pro_id %>
</p>

<p>
  <b>Pr pro cd:</b>
  <%= @pro.pr_pro_cd %>
</p>

<p>
  <b>Pr sole:</b>
  <%= @pro.pr_sole_id %>
</p>

<p>
  <b>Pr shop:</b>
  <%= @pro.pr_shop_id %>
</p>

<p>
  <b>Pr type:</b>
  <%= @pro.pr_type %>
</p>

<p>
  <b>Pr nick name:</b>
  <%= @pro.pr_nick_name %>
</p>

<p>
  <b>Pr name in:</b>
  <%= @pro.pr_name_in_id %>
</p>

<p>
  <b>Pr first name:</b>
  <%= @pro.pr_first_name %>
</p>

<p>
  <b>Pr father name:</b>
  <%= @pro.pr_father_name %>
</p>

<p>
  <b>Pr family name:</b>
  <%= @pro.pr_family_name %>
</p>

<p>
  <b>Pr mobile:</b>
  <%= @pro.pr_mobile %>
</p>

<p>
  <b>Pr email:</b>
  <%= @pro.pr_email_id %>
</p>

<p>
  <b>Pr id type:</b>
  <%= @pro.pr_id_type %>
</p>

<p>
  <b>Pr photo:</b>
  <%= @pro.pr_photo_id %>
</p>

<p>
  <b>Pr photo name:</b>
  <%= @pro.pr_photo_name %>
</p>

<p>
  <b>Pr create from:</b>
  <%= @pro.pr_create_from %>
</p>

<p>
  <b>Pr create date:</b>
  <%= @pro.pr_create_date %>
</p>

<p>
  <b>Pr create by:</b>
  <%= @pro.pr_create_by %>
</p>

<p>
  <b>Pr modify date:</b>
  <%= @pro.pr_modify_date %>
</p>

<p>
  <b>Pr modify by:</b>
  <%= @pro.pr_modify_by %>
</p>

<p>
  <b>Pr del by:</b>
  <%= @pro.pr_del_by %>
</p>

<p>
  <b>Pr del date:</b>
  <%= @pro.pr_del_date %>
</p>

<p>
  <b>Pr del flg:</b>
  <%= @pro.pr_del_flg %>
</p>


<%= link_to 'Edit', edit_pro_path(@pro) %> |
<%= link_to 'Back', pros_path %>
