<p id="notice"><%= notice %></p>

<p>
  <b>Ba bank cd:</b>
  <%= @sole_bank.ba_bank_cd %>
</p>

<p>
  <b>Ba bank name:</b>
  <%= @sole_bank.ba_bank_name %>
</p>

<p>
  <b>Ba create from:</b>
  <%= @sole_bank.ba_create_from %>
</p>

<p>
  <b>Ba create date:</b>
  <%= @sole_bank.ba_create_date %>
</p>

<p>
  <b>Ba create by:</b>
  <%= @sole_bank.ba_create_by %>
</p>


<%= link_to 'Edit', edit_sole_bank_path(@sole_bank) %> |
<%= link_to 'Back', sole_banks_path %>
