<p id="notice"><%= notice %></p>

<p>
  <b>Pr:</b>
  <%= @product.pr_id %>
</p>

<p>
  <b>Pr cd:</b>
  <%= @product.pr_cd %>
</p>

<p>
  <b>Pr number:</b>
  <%= @product.pr_number %>
</p>

<p>
  <b>Pr brand cd:</b>
  <%= @product.pr_brand_cd %>
</p>

<p>
  <b>Pr brand name:</b>
  <%= @product.pr_brand_name %>
</p>

<p>
  <b>Pr os:</b>
  <%= @product.pr_os %>
</p>

<p>
  <b>Pr os version:</b>
  <%= @product.pr_os_version %>
</p>

<p>
  <b>Pr os ver date:</b>
  <%= @product.pr_os_ver_date %>
</p>

<p>
  <b>Pr os ver name:</b>
  <%= @product.pr_os_ver_name %>
</p>

<p>
  <b>Pr model specs:</b>
  <%= @product.pr_model_specs %>
</p>

<p>
  <b>Pr base model flg:</b>
  <%= @product.pr_base_model_flg %>
</p>

<p>
  <b>Pr manufactr cd:</b>
  <%= @product.pr_manufactr_cd %>
</p>

<p>
  <b>Pr height:</b>
  <%= @product.pr_height %>
</p>

<p>
  <b>Pr height type:</b>
  <%= @product.pr_height_type %>
</p>

<p>
  <b>Pr width:</b>
  <%= @product.pr_width %>
</p>

<p>
  <b>Pr width type:</b>
  <%= @product.pr_width_type %>
</p>

<p>
  <b>Pr thick:</b>
  <%= @product.pr_thick %>
</p>

<p>
  <b>Pr thick type:</b>
  <%= @product.pr_thick_type %>
</p>

<p>
  <b>Pr weight:</b>
  <%= @product.pr_weight %>
</p>

<p>
  <b>Pr weight type:</b>
  <%= @product.pr_weight_type %>
</p>

<p>
  <b>Pr ram:</b>
  <%= @product.pr_ram %>
</p>

<p>
  <b>Pr ram type:</b>
  <%= @product.pr_ram_type %>
</p>

<p>
  <b>Pr cpu model:</b>
  <%= @product.pr_cpu_model %>
</p>

<p>
  <b>Pr camera flg:</b>
  <%= @product.pr_camera_flg %>
</p>

<p>
  <b>Pr camera desc:</b>
  <%= @product.pr_camera_desc %>
</p>

<p>
  <b>Pr battery pow:</b>
  <%= @product.pr_battery_pow %>
</p>

<p>
  <b>Pr gps flg:</b>
  <%= @product.pr_gps_flg %>
</p>

<p>
  <b>Pr wifi type:</b>
  <%= @product.pr_wifi_type %>
</p>

<p>
  <b>Pr bluetooth flg:</b>
  <%= @product.pr_bluetooth_flg %>
</p>

<p>
  <b>Pr short desc:</b>
  <%= @product.pr_short_desc %>
</p>

<p>
  <b>Pr long desc:</b>
  <%= @product.pr_long_desc %>
</p>

<p>
  <b>Pr group cd:</b>
  <%= @product.pr_group_cd %>
</p>

<p>
  <b>Pr applicability cd:</b>
  <%= @product.pr_applicability_cd %>
</p>

<p>
  <b>Pr distributor cd:</b>
  <%= @product.pr_distributor_cd %>
</p>

<p>
  <b>Pr product stat flg:</b>
  <%= @product.pr_product_stat_flg %>
</p>

<p>
  <b>Pr record stat flg:</b>
  <%= @product.pr_record_stat_flg %>
</p>

<p>
  <b>Pr del flg:</b>
  <%= @product.pr_del_flg %>
</p>

<p>
  <b>Pr create from:</b>
  <%= @product.pr_create_from %>
</p>

<p>
  <b>Pr effect date:</b>
  <%= @product.pr_effect_date %>
</p>

<p>
  <b>Pr create date:</b>
  <%= @product.pr_create_date %>
</p>

<p>
  <b>Pr modify date:</b>
  <%= @product.pr_modify_date %>
</p>

<p>
  <b>Pr del date:</b>
  <%= @product.pr_del_date %>
</p>

<p>
  <b>Pr create by:</b>
  <%= @product.pr_create_by %>
</p>

<p>
  <b>Pr modify by:</b>
  <%= @product.pr_modify_by %>
</p>

<p>
  <b>Pr del by:</b>
  <%= @product.pr_del_by %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
