<p id="notice"><%= notice %></p>

<p>
  <b>Pd manufactr:</b>
  <%= @manufacturer.pd_manufactr_id %>
</p>

<p>
  <b>Pd manufactr cd:</b>
  <%= @manufacturer.pd_manufactr_cd %>
</p>

<p>
  <b>Pd manufactr name:</b>
  <%= @manufacturer.pd_manufactr_name %>
</p>

<p>
  <b>Pd manufactr ph1:</b>
  <%= @manufacturer.pd_manufactr_ph1 %>
</p>

<p>
  <b>Pd manufactr ph2:</b>
  <%= @manufacturer.pd_manufactr_ph2 %>
</p>

<p>
  <b>Pd manufactr mob1:</b>
  <%= @manufacturer.pd_manufactr_mob1 %>
</p>

<p>
  <b>Pd manufactr mob2:</b>
  <%= @manufacturer.pd_manufactr_mob2 %>
</p>

<p>
  <b>Pd manufactr email 1:</b>
  <%= @manufacturer.pd_manufactr_email_1 %>
</p>

<p>
  <b>Pd manufactr email 2:</b>
  <%= @manufacturer.pd_manufactr_email_2 %>
</p>

<p>
  <b>Pd manufactr fax no:</b>
  <%= @manufacturer.pd_manufactr_fax_no %>
</p>

<p>
  <b>Pd manufactr add1:</b>
  <%= @manufacturer.pd_manufactr_add1 %>
</p>

<p>
  <b>Pd manufactr add2:</b>
  <%= @manufacturer.pd_manufactr_add2 %>
</p>

<p>
  <b>Pd manufactr add3:</b>
  <%= @manufacturer.pd_manufactr_add3 %>
</p>

<p>
  <b>Pd manufactr add4:</b>
  <%= @manufacturer.pd_manufactr_add4 %>
</p>

<p>
  <b>Pd manufactr place:</b>
  <%= @manufacturer.pd_manufactr_place %>
</p>

<p>
  <b>Pd manufactr city:</b>
  <%= @manufacturer.pd_manufactr_city %>
</p>

<p>
  <b>Pd manufactr country:</b>
  <%= @manufacturer.pd_manufactr_country %>
</p>

<p>
  <b>Pd create from:</b>
  <%= @manufacturer.pd_create_from %>
</p>

<p>
  <b>Pd effect date:</b>
  <%= @manufacturer.pd_effect_date %>
</p>

<p>
  <b>Pd create date:</b>
  <%= @manufacturer.pd_create_date %>
</p>

<p>
  <b>Pd modify date:</b>
  <%= @manufacturer.pd_modify_date %>
</p>

<p>
  <b>Pd del date:</b>
  <%= @manufacturer.pd_del_date %>
</p>

<p>
  <b>Pd create by:</b>
  <%= @manufacturer.pd_create_by %>
</p>

<p>
  <b>Pd modify by:</b>
  <%= @manufacturer.pd_modify_by %>
</p>

<p>
  <b>Pd del by:</b>
  <%= @manufacturer.pd_del_by %>
</p>

<p>
  <b>Pd del flg:</b>
  <%= @manufacturer.pd_del_flg %>
</p>


<%= link_to 'Edit', edit_manufacturer_path(@manufacturer) %> |
<%= link_to 'Back', manufacturers_path %>
